.Rproj.user
.Rhistory
.RData
.Ruserdata
src/*.o
src/*.so
src/*.dll
*.log
src-x64/*
src-i386/*
.vscode/c_cpp_properties.json
docs
man
*.Rcheck
*.Rproj.user
*.Rd
man/estimate_fertility_rates.Rd
man/estimate_mortality_rates.Rd
man/get_supervisory_content.Rd
man/read_omar.Rd
man/read_opop.Rd
man/simulation_time_to_years.Rd
man/socsim.Rd
.vscode/*
tmp/tmp/*
